@import './reset.scss';
@import './element-ui.scss';



body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background-color: #fff;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.tabs {
    .tab-title {
        display: flex;
        background: #fff;

        li {
            flex: 1;
            text-align: center;
            margin: 25px 0;
            text-align: center;
            font-size: 16px;
            color: #666;
            border-right: 1px solid #e0e0e0;
            cursor: pointer;

            &:last-child {
                border-right: none;
            }

            &.active {
                color: #f56600;
            }
        }
    }

    .tab-content {
        background: #fff;

        .el-form-item {
            .el-button {
                width: 100%;
            }
        }
    }
}

.main-body{
    background: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 80px;
}