@import './reset.scss';
@import './element-ui.scss';



body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background-color: #fff;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.tabs {
    .tab-title {
        display: flex;
        background: #fff;

        li {
            flex: 1;
            text-align: center;
            margin: 25px 0;
            text-align: center;
            font-size: 16px;
            color: #666;
            border-right: 1px solid #e0e0e0;
            cursor: pointer;

            &:last-child {
                border-right: none;
            }

            &.active {
                color: #f56600;
            }
        }
    }

    .tab-content {
        background: #fff;

        .el-form-item {
            .el-button {
                width: 100%;
            }
        }
    }
}

.service-guide-view {
    padding-bottom: 50px;

    .el-collapse-item__header {
        padding-left: 48px;
        font-size: 16px;
        line-height: 70px;
        height: 70px;
    }

    .el-collapse-item__header.is-active {
        color: #ff6700;
    }

    .el-collapse-item__content {
        background-color: #fbfbfb;
        padding: 32px 48px;
        line-height: 24px;

        &>div {
            color: #333;
            font-size: 16px;
        }
    }
}


// 三级联动
.distpicker-address-wrapper {
    label select {
        width: 150px;
        min-width: 100px;
        position: relative;
    }

}