@charset "utf-8";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    /* 指正常的未被访问过的链接*/
}

a:visited {
    text-decoration: none;
    /*指已经访问过的链接*/
}

a:hover {
    text-decoration: none;
    /*指鼠标在链接*/
}

a:active {
    text-decoration: none;
    /* 指正在点的链接*/
}

/*清除number的默认样式,就是那个上下加减的箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*禁止textarea拉伸*/
textarea[type="textarea"] {
    resize: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    list-style: none;
}

body,
p,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    border: none;
    vertical-align: middle;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}