// 首页
.home {}

// 首页头部
.homeHeader {
    height: 100px;
    padding: 0 30px;
    position: relative;
    background-color: $bg-header-color;

    &>div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }

    .left {
        left: 30px;
    }

    .center {
        left: 50%;
        transform: translate(-50%, -50%);

        span {
            color: $text-color;
            margin: 0 20px;
            font-size: 36px;
            font-weight: 500;
        }
    }

    .right {
        right: 30px;

        i {
            margin-left: 10px;
        }
    }

    .icon {
        color: $bg-text-color;
    }
}


// 推荐页
.home-recommend /deep/ {
    &>div {
        margin-top: 40px !important;
    }

    // 轮播图
    .swiper-container {
        width: 100%;
        height: 320px;

        .swiper-wrapper .swiper-slide {
            width: 690px;
            border-radius: 20px;
            display: flex;
            align-items: center;
        }

        .swiper-wrapper .swiper-slide div {
            width: 690px;
            height: 280px;
            border-radius: 20px;
        }

        .swiper-wrapper .swiper-slide.swiper-slide-active div {
            width: 690px;
            height: 320px;
            border-radius: 20px;
        }

        // 分页器部分
        .swiper-pagination .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
        }

        .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
            width: 30px;
            height: 20px;
            border-radius: 10px;
            background-color: #fff;
        }
    }


    // banner导航
    .banner {
        margin: auto 30px;

        .van-col {
            text-align: center;
            padding: 10px 0;

            .icon {
                font-size: 60px;
            }

            p {
                color: $text-color;
                font-size: 30px;
                margin-top: 10px;
            }
        }
    }


    // 垂直滚动轮播
    .van-notice-bar {
        height: 100px;
        margin: 0 30px;
        border-radius: 40px;

        .van-notice-bar__content {
            width: 100%;

            .notice-swipe {
                height: 100px;
                line-height: 100px;

                .van-swipe-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .title {
                        color: $text-color;
                        width: 400px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .label {
                        height: 40px;
                        line-height: 40px;
                        border:1px solid #1989fa;
                        padding: 0 10px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}