.login /deep/{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .logo {
        width: 160px;
        height: 160px;
        margin: 96px auto 0;
    }
    h1 {
        width: 100%;
        font-size: 60px;
        color: #000;
        text-align: center;
    }
    .van-form {
        width: 100%;
        padding: 0 40px;
        .van-cell:not(:last-child)::after {
            left: 0;
        }
        .btnorg {
            margin: 70px 0;
        }
    }
    .desp {
        height: 56px;
        font-size: 30px;
        font-weight: 500;
        color: rgba(73, 89, 184, 1);
    }
}