// 消息主页列表
.message {
    line-height: 1.8;

    .notice {
        padding: 20px 30px;

        .notice-item {
            width: 100%;
            height: 132px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .van-image {
                margin-right: 20px;
            }

            .notice-item-right {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                .item-top {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;

                    .gg {
                        font-size: 26px;
                        font-weight: 700;
                        color: #272727;
                    }

                    .time {
                        font-size: 20px;
                        font-weight: 700;
                        color: #8a8a8a;
                    }
                }

                .item-bottom {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 22px;
                    font-weight: 700;
                    color: #8a8a8a;
                }
            }
        }
    }
}

// 企业公告列表
.enterprise-announcement {
    .list {
        padding: 20px 30px;

        .list-item {
            display: flex;
            flex-direction: column;

            .userinfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 20px 0 10px;

                .username {
                    margin-left: 20px;
                    font-size: 24px;
                    font-weight: 500;
                    color: $text-color;
                }
            }

            .title {
                font-size: 30px;
                font-weight: bold;
                color: $text-color;
                line-height: 60px;
            }

            .content {
                font-size: 24px;
                font-weight: 500;
                color: #767676;
                line-height: 40px;
                padding: 10px 0;
            }

            .bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 5px 0 10px;

                .time,
                .type,
                .icon {
                    font-size: 24px;
                    font-weight: 500;
                    color: #9d9d9d;
                }
            }
        }
    }
}


// 企业公告消息列表详情
.enterprise-details {
    height: 100%;
    display: flex;
    flex-direction: column;

    .details-content {
        padding: 20px 30px;

        .details-name {
            font-size: 38px;
            font-weight: 700;
            color: $text-color;
        }

        .details-userinfo {
            padding-bottom: 20px;
            padding-top: 30px;

            .userinfo-img-name {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;
                    align-items: center;

                    .name {
                        font-size: 24px;
                        font-weight: 700;
                        color: #8a8a8a;
                        margin-left: 20px;
                    }
                }

                .right {
                    color: #8a8a8a;
                    font-size: 24px;
                }
            }
        }

        .details-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            .left {
                font-size: 12px;
                color: #8a8a8a;
            }

            .right {
                color: #8a8a8a;
                font-size: 24px;

                .icon {
                    color: #8a8a8a;
                    font-size: 24px;
                }
            }
        }
    }

    .details-text {
        padding: 20px 30px 0;
        flex: 1;
        font-size: 30px;
        color: $text-color;
    }

    .attachment-file {
        height: 112px;
        background: #f6f6f7;
        border-radius: 10px;
        margin: 0 30px;
        display: flex;
        align-items: center;
        line-height: 1.8;

        .type {
            width: 72px;
            height: 72px;
            background: #ffbb2b;
            border-radius: 10px;
            margin: 0 20px;
            color: #FFF;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right {
            flex: 1;

            .filename {
                font-size: 24px;
                color: $text-color;
                font-weight: 700;
            }

            .fileinfo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 20px;

                .time,
                .size {
                    font-size: 22px;
                    color: $text-color;
                    font-weight: 400;
                }
            }
        }
    }
}