/**
    文字部分
*/
$text-color: #333; // 字体颜色
$active-color: #409eff; // 选中颜色
$bg-text-color: #fff; // 背景色下的颜色

/**
    页面背景色部分
*/
$bg-color: #f7f7f7; // 页面主体背景色
$bg-header-color: #409eff; // 页面头部背景色
$bg-header-text-color: #fff; // 页面头部背景色下的字体颜色

/**
    按钮颜色
*/
$btn-color: #409eff; // 按钮背景颜色


/**
    边框颜色部分
*/
$border-color: #ebedf0; // 边框颜色
