/**
    文字部分
*/
$text-color: #1989fa; // 字体颜色
$active-color: #1989fa; // 选中颜色


/**
    页面背景色部分
*/
$bg-color: #EEE; // 页面主体背景色
$bg-header-color: #4959b8; // 页面头部背景色


/**
    按钮颜色部分
*/
$btn-color: #1989fa; // 按钮背景颜色


/**
    边框颜色部分
*/
$border-color: #ebedf0; // 边框颜色
