@import './reset.scss';
@import './vant.scss';

html,
body,
#app {
    height: 100vh;
}

// 路由选择颜色
.router-link-exact-active.router-link-active {
    color: $bg-text-color !important;
}


// 自己的字体图标默认大小
.icon {
    font-size: 40px;
    color: $active-color;
}