/**
* 按钮样式，已默认按钮为模板修改
*/
.van-button {
    background: $btn-color;
    color: $bg-header-text-color;
}
.van-button--default{
    border-color: $btn-color;
}

/**
* 默认字体图标
*/
.van-icon {
    font-size: 40px;
}


/**
* 头部导航
*/
.van-nav-bar {
    background-color: $bg-header-color;

    .van-icon,
    .van-nav-bar__text {
        color: $bg-header-text-color;
    }

    .van-nav-bar__title {
        color: $bg-header-text-color;
    }
}

// 去掉默认的下边框
.van-nav-bar.van-hairline--bottom::after {
    border-bottom-width: 0;
}


/**
* tab标签
*/
.van-tabs {

    // 去掉标签上边框
    .van-hairline--top-bottom::after,
    .van-hairline-unset--top-bottom::after {
        border-top: none;
    }

    // 选中下边框颜色高度
    .van-tabs__line {
        height: 4px;
        background-color: $active-color;
    }

    // 标签默认字体样式
    .van-tab {
        font-weight: 700;
        color: $text-color;
    }

    // 标签选择字体样式
    .van-tab--active {
        color: $active-color;
    }
}


/**
* Picker 选择器
* 支持单列选择和多列级联，通常与弹出层组件配合使用
*/
.van-picker{
    .van-picker__confirm{
        color: $active-color;
    }
}

