/**
    按钮样式，已默认按钮为模板修改
*/
.van-button {
    background: $btn-color;
    color: $bg-header-text-color;
}


/**
    默认字体图标
*/
.van-icon {
    font-size: 40px;
}


/**
    头部导航
*/
.van-nav-bar {
    background-color: $bg-header-color;

    .van-icon,
    .van-nav-bar__text {
        color: $bg-header-text-color;
    }

    .van-nav-bar__title {
        color: $bg-header-text-color;
    }
}