/* Container 布局容器 */
.el-container .el-header {
    padding: 0;
}

.el-container .el-main {
    padding: 20px 0;
    overflow: initial;
    width: 1200px;
    margin: 0 auto;
}


/* 选项卡 */
.el-tabs {
    height: 100%;
}

.el-tabs .el-tabs__item {
    height: 50px;
    line-height: 50px;
}

.el-tabs__content {
    /* 70px是选项卡头部50px加上选项卡content上下间距一共30px */
    height: calc(100% - 80px);
    padding: 0 20px;
}

.el-tabs.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
.el-tabs.el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
.el-tabs.el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
.el-tabs.el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    padding-left: 20px;
}


/* table表格 */
.el-table .el-table__header th,
.el-table .el-table__body td {
    padding: 0;
}

.el-table .el-table__header .cell,
.el-table .el-table__body .cell {
    line-height: 39px;
}

.el-table .el-table__header th {
    background: #F9FAFB;
}

.el-table th>.cell {
    font-size: 14px;
}

.el-table td>.cell {
    font-size: 12px;
}


/* card卡片布局 */
.el-card.box-card.is-always-shadow,
.el-card.box-card.is-hover-shadow:focus,
.el-card.box-card.is-hover-shadow:hover {
    box-shadow: none;
    border: none;
}

.el-card .el-card__header {
    height: 50px;
    line-height: 48px;
    padding: 0 20px;
    border-bottom: 2px solid #E4E7ED;
    position: relative;
}

.el-card .el-card__body {
    padding: 0 20px;
    position: relative;
}

.el-card.card-border-none .el-card__body {
    padding: 0;
}

.el-card .card-name {
    font-size: 14px;
    font-weight: 500;
    color: #303133;
    list-style: none;
}

.el-card .iconfont {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.el-card .iconfont:hover {
    color: #409EFF;
}

.el-card .card-name:hover {
    color: #409EFF;
}

.el-card .item {
    font-size: 12px;
    color: #454A5B;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom: 1px dotted #EDEDED;
}

.el-card .item>span {
    float: right;
    color: #8C8D9E;
}

.el-card .item>span:not(.item_left) {
    margin-left: 15px;
}

.el-card .item .item_left {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.el-card .item:hover span {
    color: #409EFF;
    cursor: pointer;
}